<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">    
    <link href="/css/material-wfont.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/main.css' />
      
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
    <script type="text/javascript" src="http://cdn.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
    
    <script src="/javascripts/handlebars.runtime.js"></script>
    <script src="/javascripts/templates.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/ROS.js"></script>
      
  </head>
  <body id="main-body">
    <div id="main-container"></div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/javascripts/material/ripples.min.js"></script>
    <script src="/javascripts/material/material.min.js"></script>
    <script>
            $(document).ready(function() {
                $.material.init();
            });
    </script>  
  </body>
</html>
